
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #151515;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #050505; 
    color: #050505;
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

header nav {
    display: flex;
    gap: 15px;
    background-color: #f1ebeb; 
    padding: 10px 20px; 
    border-radius: 5px; 
}

header nav a {
    color: #050505;
    text-decoration: none;
    font-size: 20px; 
}

header nav a:hover {
    color: #161616; 
}

.promo {
    background: url('Screenshot 2024-11-23 034738.jpg') center/cover no-repeat;
    padding: 50px;
    color: #0c0b0b;
    text-align: center;
}
.promo-line {
    font-size: 2em; 
    color: #fbf7f7;
    font-weight: bold;
}

.promo h2 {
    font-size: 4em;
    margin-bottom: 40px;
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.content-box {
    display: flex;
    gap: 20px;
}

.card {
    background-color: #f8b052;
    padding: 20px;
    text-align: center;
    width: 600px;
    border-radius: 20px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card h3 {
    color: #333;
}

.card a {
    color: #287929;
    text-decoration: none;
}


footer {
    background-color: #f2ebeb;
    color: #191414;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

.footer-logo img {
    width: 50px;
    display: flex;
    align-items: center;
    color: #777;
}